ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #99badd;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: black;
}

.column {
  background-color: white;
  float: left;
  width:30%;
  margin-left:5%;

  max-height: 600px;
  overflow: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: 20%;

}

body{
  background-image: url("./../images/old-well4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}