#register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #F7F7F7;
  }
  #register .register-card {
    background: #fff;
    width: 24rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
  }
  #register .register-card .card-title {
    background-color: #4B9CD3;
    padding: 2rem;
  }
  #register .register-card .card-title h1 {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }
  #register .register-card .content {
    padding: 3rem 2.5rem 5rem;
  }
  #register .register-card #username, #register, .register-card, #password, #name, #confirm, #email, #major {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.75rem;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    transition: all .5s;
  }
  #register .register-card #username:hover #register .register-card #password:hover #name:hover #name:hover #confirm:hover #email:hover #major:hover {
    border-color: #7a7a7a;
  }
  #register .register-card #username:active #register .register-card #email:focus, #register .register-card #password:active, #register .register-card #password:focus #name:active #name:focus #confirm:active #confirm:focus #email:active #email:focus #email:active{
    border-color: #4B9CD3;
  }
  #register .register-card .checkbox {
    color: #b5b5b5;
    font-size: 0.8rem;
  }
  #register .register-card .checkbox span {
    margin-left: 0.5rem;
  }
  #register .register-card a {
    font-size: 0.8rem;
  }
  #register .register-card .options {
    color: #b5b5b5;
    margin-bottom: 1.5rem;
  }
  #register .register-card button {
    cursor: pointer;
    font-size: 1.2rem;
    color: #4B9CD3;
    border-radius: 4rem;
    display: block;
    width: 100%;
    background: transparent;
    border: 2px solid #4B9CD3;
    padding: 0.9rem 0 1.1rem;
    transition: color .5s, border-color .5s;
  }
  #register .register-card button:hover, #register .register-card button:focus {
    color: #13294B;
    border-color: #13294B;
  }
  #register .register-card button:active {
    transform: translateY(1px);
  }
  
  label {
    cursor: pointer;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }